/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* iMessage-like text box */
.message-box {
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 70%;
}

/* Sender's (Your) style */
.senderbody {
    background-color: #2196f3;
    box-shadow: 0px 2px 3px 2px #9E9E9E80;
    color: #fff;
    align-self: flex-start;
}

/* Receiver's style */
.receiverfooter {
    background-color: #A8A8A8;
    box-shadow: 0px 2px 3px 2px #9E9E9E80;
    color: #fff;
    align-self: flex-start;
}
